.header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    background: rgb(0, 174, 239);
}

::placeholder{
    color: white;
    text-decoration-style: none;
}

.menuatas{
    max-width: 480px;
    width: 100%;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
}

.logo{
    width: auto;
    height: 33px;
    margin-right: 20px;
}

.logostyle{
    width: 33px;
    height: 33px;
    margin-left: 10px;
}

.search{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    height: 36px;
    width: 100%;
    margin-right: 15px;
    background: rgb(27, 186, 245);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 15px;
    border-radius: 20px;
}

.cari{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.ex{
    cursor: pointer;
}

.main{
    background-color:white;
    position: relative;
    top: 60px;
    max-width: 480px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 80vh);
    margin: 0px auto;
    padding: 0px 16px 80px
}

.styleline{
    margin: 15px -16px;
    border-top: 7px solid rgb(247, 247, 247);
}
.tanya{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 80px;
    margin: 0px 0px 0px;   
}

.button{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: rgb(0, 174, 239);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.35s ease 0s;
    text-decoration: none;
    padding: 11px 37.5px;
    border-radius: 20px;
}

.button1{
    display: flex;
    margin: 10px 0px 0px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 174, 239);
    transition: all 0.35s ease 0s;
    text-decoration: none;
    padding: 11px 37.5px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(0, 174, 239);
    border-image: initial;
}

.button1:hover{
    color: rgb(0, 174, 239);
}

.chat{
    color: rgb(0, 174, 239);
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.dana {
    margin: 8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px
}

.zakat{
    margin: 8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.donasi{
    margin: 8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.bisasembuh{
    margin: 8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.bantu{
    margin: 8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.bantusiapa{
    margin:8px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.opsi{
    max-width: 1020px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.tilewrapper{
    width: 20%;
    cursor: pointer;
    margin: 0px 2.5%;
    outline: none;
}

.iconwrapper{
    width: 100%;
    padding: 10px;
}

.icon{
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.label{
    font-size: 0.9em;;
    margin-top: 8px;
   text-align: center;
}

.style_title{
    font-family: 'Open Sans' ,sans-serif;
    color: rgb(74, 74, 74);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600
}

.style_template{
    position: relative;
}

.stylearrow{
    left: 0px;
    display: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
}

.stylearrow1{
    right: 0px;
    display: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
}

.style_container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 1em;
}

.style_cardlink{
    cursor: pointer;
    color: inherit;
    margin: 0px 0.5em 1em;
    text-decoration: none;
}

.style_Container{
    width: 280px;
}

.style_largelist{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(152, 152, 152, 0.2) 0px 2px 8px 1px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-radius: 4px;
}

.style_listfigure{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    flex: 1 1 0%;
}

.style_listimage{
    width: 100%;
    object-fit: cover;
    height: 130px;
    border-radius: 4px 4px 0px 0px;
}

.stylelistcontent{
    padding: 0.5em;
}

a{
    text-decoration: none;
}
span{
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0.25em 0em;
    overflow: hidden;
}

.Style_carditem{
    margin: 1em 0em;
}

.style_track{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgb(0, 0, 0) 0px 0px inset;
    border-radius: 10px;
}

.stylefiller1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36.3714%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefiller2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 67.186%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefiller3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 83.018%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.style_largelistcount{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0.25em 0em;
}

.donationcollected{
    display: flex;
    flex-direction: column;
}

.jumlah{
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
}

.style_largelistcount1{
    display: flex;
    flex-direction: column;
}

.hari{
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
}

.style_Titlecontainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 1em 0px;
}

.Title{
    font-family: 'Open Sans', sans-serif;
    color: rgb(74, 74, 74);
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
}

.linktext{
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    margin: 0px;
}

.styleTemplate{
    position: relative;
}

.arrowleft{
    left: 0px;
    display: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
}

.arrowright{
    right: 0px;
    display: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
}

.stylecontainerslider{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 1em;
}

.stylecardlink{
    cursor: pointer;
    color: inherit;
    margin: 0px 0.5em 1em;
    text-decoration: none;
}

.Stylecard{
    width: 150px;
}

.stylegrid{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(152, 152, 152, 0.2) 0px 2px 8px 1px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-radius: 4px;
}

.gridfigure{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    flex: 1 1 0%
}

.stylegridimage{
    width: 100%;
    object-fit: cover;
    height: 85px;
    border-radius: 4px 4px 0px 0px;
}

.gridcontent{
    padding: 0.5em;
}

.card_Style{
    min-height: 2.5em;
}

.CardStyle_cardtitle{
    font-family: 'Open Sans' , sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0.25em 0em;
    overflow: hidden;
}

.CardStyle{
    margin: 1em 0em;
}

.cardSubtitle{
    display: flex;
    width: 100%;
    vertical-align: middle;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-align: center;
    align-items: center;
    margin: 0.25em 0em;
}

.yayasan{
    font-family: 'Open Sans' , sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.linkaset{
    height: 12px;
    margin-left: 0.25em;
}

.carditemContent{
    margin: 1em 0em;
}

.track{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgb(0, 0, 0) 0px 0px inset;
    border-radius: 10px;
}

.stylefill{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34.8945%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.donation{
    display: flex;
    flex-direction: column;
}

.terkumpul{
    margin-left: 4px;
    line-height: 1.75em;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.jumlah{
    margin-left: 4px;
    line-height: 1.75em;
    font-weight: bold;
    font-size: 12px;
}

.stylefill1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 69.0804%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6.64981%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4.22252%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18.5007%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill5{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 7.16528%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill6{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1.54656%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill7{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 59.3226%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px
}

.stylefill8{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 39.9515%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.stylefill9{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1.11744%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.linksemua{
    cursor: pointer;
    color: inherit;
    margin: 0px 0.5em 1em;
    text-decoration: none;
}
.style_Cardsemua{
    width: 150px;
    display: flex;
    height: 100%;
    color: rgb(0, 174, 239);
    text-align: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.seemore{
    font-size: 32px;
}

.seemoretext{
    font-size: 20px;
    margin: 0px;
}

.Style_Title{
    color: rgb(74, 74, 74);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.roundedButton{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.roundedButtonwrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    margin: 0px 5px;
}

.roundedButtonicon{
    width: 50px;
    position: relative;
    border-radius: 50%;
    padding: 12px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 174, 239);
    border-image: initial;
}

.bencanaalam{
    width: 20px;
}

.roundedButtontext{
    font-family: 'Open Sans' , sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.roundedButtonwrappersc{
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    margin: 0px 5px;
}

.roundedButtonwrappericonlk{
    width: 50px;
    position: relative;
    border-radius: 50%;
    padding: 12px;
    background: rgb(248, 248, 248) ;
}

.styleroundedicon{
    width: 20px;
}
.roundedtext{
    font-family: 'Open Sans' , sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.Style_Item{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.Style_List{
    display: flex;
    background-color: white;
    line-height: 1.25em;
    margin: 1em 0em;
}

.Style_ListFigureCanvas{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 0px 20px 0px 0px;
    flex: 1 1 0%;
}

.ImageCanvas{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
}

.ListImageContainer{
    background-image: url(img/sulawesi.jpg);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(243, 243, 243);
    max-width: 214px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    z-index: 0;
    border-radius: 6px;
}

.list_Content{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
}

.card_Title{
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0.25em 0em;
    overflow: hidden;
}

.listcardstylesubtitle{
    display: flex;
    width: 100%;
    vertical-align: middle;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-align: center;
    align-items: center;
    margin: 0.25em 0em;
}

.subtitle{
    font-family: 'Open Sans' , sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;
    overflow: hidden
}

.org{
    height: 12px;
    margin-left: 0.25em;
}

.Card_StyleItemcontent{
    margin: 0.25em 0em;
}

.Tracksc{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgb(0, 0, 0) 0px 0px inset;
    border-radius: 10px;
}

.filler{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 27.8707%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.List_COunt{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0.25em 0em;
}

.doncollacted{
    display: flex;
    flex-direction: column;
}

.kumpul{
    font-family: 'Open Sans' , sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: rgb(74, 74, 74) ;
}

.rupiah{
    font-weight: bold;
    font-size: 12px;
}

.Count_Item{
    display: flex;
    flex-direction: column;
}

.sisa{
    font-family: 'Open Sans' , sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: rgb(74, 74, 74);
}

.DAY{
    font-size: 12px;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
}

.ListBorder{
    height: 1px;
    background: rgb(232, 232, 232) ;
}

.filler1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96.0743%;
    height: 100%;
    background-color: rgb(0, 174, 239);
    border-radius: 2px;
}

.ListImageContainer2{
    background-image: url(img/sumbangan.jpg);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(243, 243, 243);
    max-width: 214px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    z-index: 0;
    border-radius: 6px;
}

.ListImageContainer3{
    background-image: url(img/praymasamba.jpg);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(243, 243, 243);
    max-width: 214px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    z-index: 0;
    border-radius: 6px;
}

.style_seeallcard{
    font-family: 'Open Sans' , sans-serif;
    width: 160px;
    text-align: center;
    background-color: rgb(231, 245, 255);
    color: rgb(16, 168, 229);
    font-size: 12px;
    position: relative;
    cursor: pointer;
    margin: 1em auto;
    padding: 5px;
    border-radius: 15px;
}

.styleseeall{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 10px;
}

.style_widecard{
    cursor: pointer;
    margin: 0px -16px;
}

.bannerhome{
    max-width: 100%;
    vertical-align: middle
}

.stylewidecardimage{
    cursor: pointer;
    margin: 0px -16px;
}

.kitabisa{
    max-width: 100%;
    vertical-align: middle;
}

.stylenavigationmenu{
    list-style-type: none;
    display: inline-block;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 480px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border-width: 1px 0px 0px;
    border-image: initial;
    transition: all 0.35s ease 0s;
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid rgb(222, 222, 222);
    margin: 0px;
}

.navigationmenuitem{
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.menuicon{
    position: relative;
    padding-top: 4px;
    margin-bottom: 4px;
}

.menu{
    max-width: 100%;
    vertical-align: middle;
    color: rgb(0, 170, 239);
    display: inline-block;
}

.teksdonasi{
    color: rgb(0, 170, 239);
    white-space: nowrap;
    display: inline-block;
}

.galang-dana{
    display: inline-block;
    width: 20%;
    font-size: 10px;
    cursor: pointer;
}

.menuiconnav{
    position: relative;
    padding-top: 4px;
    margin-bottom: 4px;
    margin-left: 40px;
}

.menuiconnav2{
    position: relative;
    padding-top: 4px;
    margin-bottom: 4px;
    margin-left: 60px;
}
.menuiconnav3{
    position: relative;
    padding-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
}

.menuiconnav4{
    position: relative;
    padding-top: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
}

.galang{
    display: inline-block;
   color:  rgb(168, 168, 168);;
}

.teksgalang{
    font-family: 'Open Sans' , sans-serif;
    margin-left: 20px;
    color: rgb(168, 168, 168);
    white-space: nowrap;
    display: inline-block;
}

.teksgalang2{
    font-family: 'Open Sans' , sans-serif;
    margin-left: 35px;
    color: rgb(168, 168, 168);
    white-space: nowrap;
    display: inline-block;
}
.teksgalang3{
    font-family: 'Open Sans' , sans-serif;
    margin-left: 49px;
    color: rgb(168, 168, 168);
    white-space: nowrap;
    display: inline-block;
}

.teksgalang4{
    font-family: 'Open Sans' , sans-serif;
    margin-left: 16px;
    color: rgb(168, 168, 168);
    white-space: nowrap;
    display: inline-block;
}

.style_Container-mk{
    position: fixed;
    left: 50%;
    width: 100%;
    background-color: white;
    border-top-left-radius: 12px;
    box-shadow: rgba(152, 152, 152, 0.2) 0px -10px 10px 0px;
    border-top-right-radius: 12px;
    max-width: 480px;
    transform: translate(-50%, 0px);
    z-index: 12;
    padding: 8px 16px 16px;
}

.BankTransfer{
    text-align: center;
}

.styleBankTransfer{
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding: 10px 0px;
}

.banktransferpending{
    font-family: 'Open Sans' , sans-serif;
    padding-top: 10px;
}

.style_fieldset{
    margin: 30px 0px 20px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.style_button-hl{
    display: inline-block;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    font-size: 1em;
    background-color: rgb(0, 174, 239);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.35s ease 0s;
    text-decoration: none;
    border-radius: 4px;
    padding: 11px 37.5px;
}
